# Maintainer: Meema Labs
# Telegram: https://telegram.meema.io
# Discord: https://discord.meema.io

# The Cardano node service (part of systemd)
# file: /etc/systemd/system/cardano-node.service

[Unit]
Description = Cardano node service
Wants       = network-online.target
After       = network-online.target

[Service]
User              = ${USER}
Type              = simple
WorkingDirectory  = ${HELPERS}
ExecStart         = /bin/bash -c '${HELPERS}/scripts/start_node.sh'
KillSignal        = SIGINT
RestartKillSignal = SIGINT
TimeoutStopSec    = 2
LimitNOFILE       = 32768
Restart           = always
RestartSec        = 5
SyslogIdentifier   = cardano-node

[Install]
WantedBy = multi-user.target
